article ul li {
    list-style-type: circle;
    list-style-position: inside;
}

article ul li::marker {
    font-weight: bold;
}

article ul li a::after {
    content: "";
}

article ol li {
    list-style-type: decimal;
    list-style-position: inside;
}


article ol li::marker {
    font-weight: bold;
}

article ul ol a::after {
    content: "";
}

article blockquote {
    padding: 1rem;
}

article h2, h3, h4, h5, h6 {
    margin-top: 1rem !important;
    font-weight: bold !important;
}

article h2 {
    font-size: larger !important;
}

article h3 {
    font-size: large !important;
}

article h4 {
    font-size: medium !important;
}

article h5 {
    font-size: small !important;
}

article h6 {
    font-size: smaller !important;
}

article p {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

article p > img {
    margin-left: auto !important;
    margin-right: auto !important;
}

article a {
    color: rgb(0, 115, 209);
}

article a:hover {
    text-decoration: underline;
}

article a::after {
    content: " 🔗";
}

article pre {
    border-color: black;
    border-width: 1px;
    padding: 1rem;
    border-radius: 0.2rem;
}