article ul li {
    list-style-type: circle;
    list-style-position: inside;
}

article ul li::marker {
    font-weight: bold;
}

article ul li a::after {
    content: "";
}

article ol li {
    list-style-type: decimal;
    list-style-position: inside;
}


article ol li::marker {
    font-weight: bold;
}

article ul ol a::after {
    content: "";
}

article blockquote {
    padding: 1rem;
}

article h2, h3, h4, h5, h6 {
    margin-top: 1rem !important;
    font-weight: bold !important;
}

article h2 {
    font-size: x-large !important;
}

article h2::before {
    content: '';
    display: block;
    height:      70px;
    margin-top: -70px;
    visibility: hidden;
}

article h3 {
    font-size: larger !important;
}

article h3::before {
    content: '';
    display: block;
    height:      70px;
    margin-top: -70px;
    visibility: hidden;
}

article h4 {
    font-size: large !important;
}

article h4::before {
    content: '';
    display: block;
    height:      70px;
    margin-top: -70px;
    visibility: hidden;
}

article h5 {
    font-size: large !important;
}

article h5::before {
    content: '';
    display: block;
    height:      70px;
    margin-top: -70px;
    visibility: hidden;
}

article h6 {
    font-size: large !important;
}

article h6::before {
    content: '';
    display: block;
    height:      70px;
    margin-top: -70px;
    visibility: hidden;
}

article p {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

article p > img {
    margin-left: auto !important;
    margin-right: auto !important;
}

article a {
    font-weight: bold;
    color: rgb(255, 0, 221);
}

article a:hover {
    text-decoration: underline;
}

article a::after {
    content: " 🔗";
}

article pre {
    background-color: #1b1b1b;
    border-color: black;
    border-width: 1px;
    padding: 1rem;
    border-radius: 0.2rem;
}

article code {
    background-color: #303030;
    color: #f5f5f5;
    padding: 0.2rem;
}

#toc ul li a {
    font-weight: 600;
    letter-spacing: 0.5px;
}

#toc ul li {
    list-style-type: disc;
    list-style-position: inside;
}

#toc ul li:hover {
    text-decoration: underline;
}

#toc ul li::marker {
    font-weight: bold;
}